.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Exercise {
  padding: 10px 0 20px;
  margin: 20px 0;
}

.Exercise h2 {
  font-size: 2em;

}

.evenEx {
  background-color: #282c34;
  color: white;
}

.time-container {
  /* width: 66%; */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.time-container ul {
  margin: 0 auto;
  text-align: center;
}
.time-container li {
  /* list-style-position: inside; */
  text-align: left;
}

.time-container button {
  margin: 10px 5px;
  text-align: center;
}

.talky {
  margin-left: 40%;
  margin-bottom: 10px;
  /* width: 66%; */
  text-align: left;
  display: flex;
  align-items: center;
}

.talky input {
  border: none;
  border-bottom: solid 1px lightgray;
}

.talky-label {
  width: 60px;
}

.talky-text {
  border-bottom: solid 1px lightgray;
  width: 300px;
  height: 1.3em;
  font-size: 1.2em;
}