body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.flexor {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  height: 20px;
  margin: 3px
}

.coffeeRunFormButtons button {
  height: 24px;
}


.Exercise {
  padding: 10px 0 20px;
  margin: 20px 0;
}

.Exercise h2 {
  font-size: 2em;
}

.evenEx {
  background-color: #282c34;
  color: white;
}

.time-container {
  /* width: 66%; */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.time-container ul {
  margin: 0 auto;
  text-align: center;
}
.time-container li {
  /* list-style-position: inside; */
  text-align: left;
}

.time-container button {
  margin: 10px 5px;
  text-align: center;
}

.coffeeRunFormButtons{
  margin-left: 40%;
  margin-bottom: 10px;
  text-align: left;
  display: flex;
  align-items: center;
}

.coffeeRunFormButtons .btnGroup{
  margin-left: 40px;
}

.strength {
  display: flex;
  align-items: center
}

.talky {
  margin-left: 40%;
  margin-bottom: 10px;
  /* width: 66%; */
  text-align: left;
  display: flex;
  align-items: center;
}

.talky input {
  border: none;
  border-bottom: solid 1px lightgray;
}

.talky-label {
  width: 60px;
}

.talky-text {
  border-bottom: solid 1px lightgray;
  width: 300px;
  height: 1.3em;
  font-size: 1.2em;
}

.talky-num {
  border-bottom: solid 1px lightgray;
  width: 50px;
  height: 1.3em;
  font-size: 1.2em;
  margin-left: 20px;
  margin-right: 20px;
}